<div class="wrapper">
    <nav>
        <div class="navpane">
            <h2>Navigation</h2>
            <ol>
                <li class="nav_items"><a href="/home"><b>Home Page</b></a></li>
                <li class="nav_items"><a href="/booksList"><b>Books List</b></a></li>
                <li class="nav_items"><a href="/contact"><b>Contact Us</b></a></li>
                <li class="nav_items"><a href="/survey"><b>Survey</b></a></li>
                <li class="nav_items"><a href="/honesty"><b>Honesty Page</b></a></li>
                <li class="nav_items"><a href="/admin"><b>Admin</b></a></li>
                <li class="nav_items"><a href="/addnewbook"><b>Add Book</b></a></li>
            </ol>
        </div>
    </nav>

<!-- </div> -->