<p>
    I declare that this assignment is my own work in accordance with
    Seneca Academic Policy. <br> No part of this assignment has been copied
    manually or electronically from any other source <br> (including web sites)
    or distributed to other students.
    <ul style="list-style-type:None;">
        <li>Name: Maxim Lyasota</li>
        <li>Student ID: 130488166</li>
        <li>Date: 12/11/2022</li>
    </ul>
</p>