<!-- <!DOCTYPE html>
<html> -->

<!-- <style type="text/css">
    /* Wrapping refrence: https://codepen.io/RajRajeshDn/pen/LKzZNe  */
    .wrapper {
        display: flex;
        position: relative;
    }

    .wrapper .navpane {
        width: 180px;
        height: 100%;
        /* background: #6e6e6e; */
        margin-top: -10px;
        padding-left: 20px;
        border-right: 3px solid black;
        position: fixed;
    }

    .wrapper .main_content {
        width: 100%;
        /* margin-left: 250px; */
        padding-left: 250px;
        /* border: 3px solid black; */
    }

    .nav_items {
        padding-bottom:7px;
        margin-left:-15px
    }
</style> -->


<!-- <div class="wrapper"> -->
    <!-- <nav>
        <div class="navpane">
            <h2>Navigation</h2>
            <ol>
                <li class="nav_items"><a href="home"><b>Home Page</b></a></li>
                <li class="nav_items"><a href="books"><b>Books</b></a></li>
                <li class="nav_items"><a href="contact"><b>Contact Us</b></a></li>
                <li class="nav_items"><a href="survey"><b>Survey</b></a></li>
                <li class="nav_items"><a href="honesty"><b>Honesty Page</b></a></li>
            </ol>
        </div>
    </nav> -->
    <!-- <div class="main_content"> -->
        <h1>Generic Library Name</h1>
        <h3>Please choose a link from the navigation pane on the left.</h3>
    <!-- </div>
</div> -->

<!-- </html> -->